# 1. Server Configuration
PORT=3001
NODE_ENV=development

# 2. Authentication (QUAN TRỌNG NHẤT)
# Lấy giá trị từ SECRET_KEY của Java để Verify JWT
JWT_SECRET=

# 3. Database Configuration (MongoDB)
# Module Chat sử dụng MongoDB thay vì MySQL để tối ưu tốc độ
MONGO_URI=mongodb://localhost:27017/mini_social_realtime

# 4. Media Storage (Cloudinary)
# Copy nguyên cụm này để xử lý upload ảnh/video trong Chat
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# 5. Internal Integration
# URL của server Java hiện tại để module Node.js tham chiếu khi cần
JAVA_BACKEND_URL=http://localhost:8080